header
    width: 100%
    text-align: center
    background-color: #000000
.logo-container
    background-color: tomato
.header-nav-container
    background-color: blue
.logo-container, .header-nav-container
    display: inline-block
    width: 50%
    @media screen and (max-width: 750px)
        width: 100%
.logo
    height: 130px
