<header>
    <div class="header-conatiner">
        <div class="logo-container">
            <a href="#/"><img class="logo" src="../../assets/logo.png"></a>
        </div>
        <div class="header-nav-container">
                <ul>
                    <li class="nav-options"><a class="nav-links" href="#/menu">Menu</a></li>
                    <li class="nav-options"><a class="nav-links" href="#/specials">Specials</a></li>
                    <li class="nav-options"><a class="nav-links" href="#/aboutus">About Us</a></li>
                </ul>
        </div>
    </div>
</header>