<header>
    <div class="header-container">
        <div class="logo-container">
            <a [routerLink]="['/']"><img class="logo" src="../../assets/logo.png"></a>
        </div>
        <div class="header-nav-container">
            <ul class="ul-container">
                <li class="nav-options"><a class="nav-links" [routerLink]="['/menu']">Menu</a></li>
                <li class="nav-options"><a class="nav-links" [routerLink]="['/gallary']">Gallary</a></li>
                <li class="nav-options"><a class="nav-links" [routerLink]="['/about']">About Us</a></li>
            </ul>
        </div>
    </div>
</header>