header
    background: #382E2A
.logo-container
    background-color: green
    width: 50%;
    display: inline-block
.header-nav-container
    background-color: blue
.header-conatiner
    width: 100%
    background-color: tomato
.home-logo-link
    background-color: darkcyan
    display: inline-block
.nav-options
    width: 140px
    background-color: seashell
    display: inline-block
    text-decoration: none
    color: black
    padding: 5px
    border-radius: 5px
    margin: 5px
    cursor: pointer
.nav-links
    text-decoration: none
    color: #000000

.logo
    height: 130px
