<footer>
        <div class="footer-container">
            <div class="hours-wrapper">
                <img class="our-hours" src="../../assets/ourhours.png" alt="hours">
            </div>
            <div class="social-links-container">
                <img class="social-links" src="../../assets/twitter.svg" alt="Twitter">
                <img class="social-links" src="../../assets/facebook.svg" alt="Facebook">
                <img class="social-links" src="../../assets/grub.png" alt="GrubHub">
            </div>
            <div class="copy-right-statement">
                <p>© 2019 Doughballs</p>
            </div>
        </div>
      </footer>
      
