<footer>
    <div class="footer-container">
        <div class="hours-wrapper">
            <img class="our-hours" src="../../assets/ourhours.png" height="170px" alt="hours">
        </div>
        <div class="social-links-container">
            <a href="https://www.facebook.com/Doughballs-Pizza-582116868521192/">
                <img class="social-links" src="../../assets/facebook.svg" alt="Facebook">
            </a>
            <a href="https://twitter.com/doughballspizza?lang=en">
                <img class="social-links" src="../../assets/twitter.svg" alt="Twitter">
            </a>
            <a href="https://www.grubhub.com/restaurant/doughballs-pizza-40-w-new-york-st-aurora/320419/">
                <img class="social-links" src="../../assets/grub.png" alt="GrubHub">
            </a>
        </div>
        <div class="copy-right-statement">
            <p>© 2019 Doughballs Pizzas</p>
        </div>
        <div class="david-pina">
            <a class="davidpina-hyper-link" href="https://davidpina.dev"> Web Design by: David Pina</a>
        </div>
    </div>
</footer>