footer
    background-color: #382E2A
    padding: 25px
    color: #fff
    text-align: center
.footer-container
    width: 100%
    display: inline-block
    @media screen and (max-width: 750px)
        width: 250px
.copy-right-statement, .social-links, .hours-wrapper
    display: inline-block
    width: 30%
    min-width: 200px
    margin: 5px
.hours-wrapper
    background-color: #bb6a64
    padding: 5px
    border-radius: 5px
    min-width: 230px
    max-width: 300px
.our-hours
    width: 100%