.image-slider-container
    height: 560px
.image-slider
    background-image: url("../../assets/food-back.jpg")
    background-repeat: no-repeat
    background-size: cover
    height: 565px
    width: 100%
    background-position: center
    text-align: center
.about-us-header
    position: relative
    top: 50%
    display: inline-block
    width: 70%
.attention-grabber
    color: #fff
.about-us-statement
    background: #fff
    width: 80%
    display: inline-block
    font-size: 25px
.about-us
    background: darkcyan
    padding: 5px
    text-align: center