<section class="image-slider-container">
  <div class="image-slider">
    <div class="about-us-header">
        <img height="55px" src="../../assets/hey_you.png" alt="Hey You!">
        <p class="attention-grabber">Do you have a recurring dream of drowning in a sea of pizza sauce, but you don’t consider it a nightmare?
          </p>
    </div>
  </div>
</section>
<div class="about-us">
  <p class="our-goal our-goal-first-statement">
    WELL YOU MY FRIEND, HAVE COME TO THE RIGHT PLACE.
  </p>
  <div class="background-image-two"></div>
  <p class="our-goal">
      Our Goal at Doughballs is that the world would welcome pizza with caa-razy toppings with open hearts and growling stomachs. But it’s a two way street, and we know that with great pizza, comes great responsibility.
  </p>
  <div class="background-image-three"></div>
  <p class="our-goal">
    We believe that restricting a flakey, buttery, crispy pie crust with just Marinera sauce, pepperoni, sausage and cheese should be <span class="illegal">illegal</span>. Seriously. Why wouldn’t you want to combine the greatest invention known to man <span class="pizza">Pizza!</span> With other foods that are darn good too, like macaroni & cheese, pot roast, french fries! catch our drift?
  </p>
  <p class="our-goal">That’s why we focus on three things</p>
  <div class="background-image-four">
  </div>
    <p class="our-goal">
    * Making ridiculously awesome pizza that actually tastes as good as it looks with the freshest ingredients possible. Duh.
    </p>
    <p class="our-goal">
    * Keeping the business crowd satisfied during the day & the professional drinkers satisfied by night. That’s why we’re open 7 days a week, and we're <span class="pizza">OPEN LATE</span> because the party never stops. And we want to make sure the thousands of suburban bar-goers are served, sobered up & somewhat coherent on a regular basis.
    </p>
    <p class="our-goal">
    * Making it a priority to give back and have strong ties to the community. Our stores give back to our communities with new donations every month in the form of fundraisers, so you’ll always be eating for a good cause. Begging, bribes & romantic sauce-based poems may increase the size of the donation…
    </p>
    <p>
      So hit us up or mosey on in and check us out. That’s what we’re all about. If you don’t like it, we don’t care.
    </p>
</div>
