<section class="image-slider-container">
  <div class="image-slider">
    <div class="about-us-header">
        <img src="../../assets/hey_you.png" alt="Hey You!">
        <p class="attention-grabber">    Do you have a recurring dream of drowning in a sea of pizza sauce, but you don’t consider it a nightmare?
          </p>
    </div>
  </div>
</section>
<div class="about-us">
  <div class="about-us-statement">
    <p>
      Then you, my friend, have come to the right place.
        
      Here at Doughballs, we are obsessed with pizza. And by obsessed, we mean one slice away from an intervention obsessed. Our friends would organize the meeting but they’re too busy stuffing their faces…because our pizza is not your typical slice of pie.
    </p>
    <p> 
      We believe that restricting topping a flakey, buttery, crispy pie crust with just pizza sauce, pepperoni, sausage or cheese should be illegal. Seriously. Why wouldn’t you want to combine the greatest invention known to man – pizza – with other foods that are darn good too, like macaroni & cheese, pot roast, french fries… catch our drift?
    </p>
    <p>  
      So that’s our dream, that this world would welcome pizza with caa-razy toppings with open hearts and growling stomachs. But it’s a two way street, and we know that with great pizza, comes great responsibility.
        
      That’s why we focus on three things:
        
      Making ridiculously awesome pizza that actually tastes as good as it looks with the freshest ingredients possible. Duh.
      Keeping the business crowd satisfied during the day & the professional drinkers satisfied by night. That’s why we’re open 7 days a week, and not just open..open LATE..because the party never stops. And we want to make sure the thousands of suburban bar-goers are served, sobered up & somewhat coherent on a regular basis.
      Making it a priority to give back and have strong ties to the community. Our stores give back to our communities with new donations every month in the form of fundraisers, so you’ll always be eating for a good cause. Begging, bribes & romantic sauce-based poems may increase the size of the donation…
      So hit us up or mosey on in and check us out. That’s what we’re all about. If you don’t like it, we don’t care.
        
      We appreciate your business   🙂 Call 630-844-5205
    </p>
  </div>
</div>
