<section class="image-slider-container">
    <div class="image-slider">
        <p>
            Menu
        </p>
    </div>
</section>

<div class="menu-container">
    <ul class="menu">
        <li class="food-links pizza">
            <p class="menu-iteam">Pizza</p>
        </li>
        <div class="iteam-info">
                
        </div>
        <li class="food-links calzone"><p class="menu-iteam">Calzones</p></li>
        <div class="iteam-info">
                
        </div>
        <li class="food-links salad"><p class="menu-iteam">Salads</p></li>
        <div class="iteam-info">
                
        </div>
        <li class="food-links taco"><p class="menu-iteam">Juniors Burritos Tapatios</p></li>
        <div class="iteam-info">
                
        </div>
        <li class="food-links pasta"><p class="menu-iteam">Pasta</p></li>
        <div class="iteam-info">
                
        </div>
        <li class="food-links burger"><p class="menu-iteam">Sandwhiches</p></li>
        <div class="iteam-info">
                
        </div>
        <li class="food-links drink"><p class="menu-iteam">Drinks</p></li>
        <div class="iteam-info">
                
        </div>
    </ul>
</div>
