.image-slider-container
    height: 560px
.image-slider
    background-image: url("../../assets/food-back.jpg")
    background-repeat: no-repeat
    background-size: cover
    height: 565px
    width: 100%
    background-position: center
    text-align: center
    overflow: hidden
    p
        color: #fff
        font-size: 80px
        position: relative
        top: 60%
.menu-container, .menu
    text-align: center
.menu
    width: 95% 
    max-width: 790px 
    margin: auto 
    padding: 10px
    background-color: #fff
.menu-container
    background-color: #2d2d2c
.header-fusion
    height: 500px
.food-links
    display: inline-block
    padding: 10px
    height: 250px
    width: 90%
    min-width: 300px
    margin: 5px
    border-radius: 20px
    box-shadow: 0px 10px 23px 5px #131212
    cursor: pointer
.menu-iteam
    font-size: 45px
    color: #887878
    margin-top: 90px
    background-color: #fff
.juniors-tapatios
    margin-top: 70px !important
.iteam-info-container
    height: 0px
    width: 85%
    margin: auto
    opacity: 0
    display: none
    transition-property: 2s ease-in-out
.iteam-info
    text-align: center
    >p:nth-child(3)
        margin: 10px
.iteam-info-show
    height: auto
    padding: 10px
    opacity: 1
    display: block
.base-prices
    font-size: 20px
    margin: 5px
.toppings
    display: inline-block
    vertical-align: top
    margin: 10px
    >p:not(:first-child)
        border-bottom: 1px solid #000000
.topping-name
    font-size: 30px
    padding: 5p
.long-name-shrinker
    width: 100px
    display: inline-block
.calzone-price
    text-align: center
    font-size: 30px
.calzone-types
    display: inline-block
    width: 30%
    margin: 5px
    vertical-align: top
    >p:first-child
        font-size: 30px
    >p:not(:first-child)
        border-bottom: 1px solid #000000
.calzone-info
    text-align: center
.calzone-construction
    text-align: center
.construction
    font-size: 30px
.construction-type
    display: inline-block
    vertical-align: top
    margin: 5px
    >p:first-child
        font-size: 30px
    >p:not(:first-child)
        border-bottom: 1px solid #000000
.specialty-pizza-name
    margin: 5px
    display: inline-block
    vertical-align: top
    >p:first-child
        font-size: 30px
    >p:not(:first-child)
        border-bottom: 1px solid #000000
.can-sode-price
    font-size: 20px
.salad-info
    display: inline-block
    width: 50%
    vertical-align: top
    >p:first-child
        font-size: 30px
    >p:not(:first-child):not(:nth-child(2))
        border-bottom: 1px solid #000000
.tapatios-info
    display: inline-block
    margin: 5px
    vertical-align: top
    width: 45%
    text-align: center
    >p:first-child
        font-size: 30px
    >p:not(:first-child):not(:nth-child(2))
        border-bottom: 1px solid #000000
        width: 55%
        display: inline-block
    @media screen and (max-width: 750px)
        width: 80%
.tapatios-meats
    margin: 5px
.pasta-info
    display: inline-block
    margin: 5px
    vertical-align: top
    width: 45%
    text-align: center
    >p:first-child
        font-size: 25px
    >p:not(:first-child):not(:nth-child(2))
        border-bottom: 1px solid #000000
        width: 75%
        display: inline-block
.gluten-free
    font-size: 20px
    margin: 5px
.sandwhich-info
    display: inline-block
    margin: 5px
    vertical-align: top
    width: 45%
    >p:first-child
        font-size: 25px
    >p:not(:first-child):not(:nth-child(2))
        border-bottom: 1px solid #000000
        width: 75%
        display: inline-block
.appetizer-info p
    display: inline-block
    margin: 15px
    font-size: 20px
    border-bottom: 1px solid #000000
.drinks-container p:not(:first-child):not(:nth-child(2))
    border-bottom: 1px solid #000000
    margin: 10px
    display: inline-block
.pizza, .taco, .salad, .burger, .pasta, .appetizer, .drink, .wing, .supreme-pizza, .calzone
    background-image: url("../../assets/pizzatime.jpg")
    background-position: center
    background-size: cover
.taco
    background-image: url("../../assets/tacos.jpg")
.salad
    background-image: url("../../assets/salad.jpg")
.burger
    background-image: url("../../assets/burger.jpg")
.calzone
    background-image: url("../../assets/calzone.jpg")
.pasta
    background-image: url("../../assets/pasta.jpeg")
.appetizer
    background-image: url("../../assets/bosco-sticks.jpg")
.drink
    background-image: url("../../assets/drinks.jpg")
.wing
    background-image: url("../../assets/wings.jpg")
.supreme-pizza
    background-image: url("../../assets/pizza-3007395_640.jpg")
