.image-slider-container
    height: 560px
.image-slider
    background-image: url("../../assets/food-back.jpg")
    background-repeat: no-repeat
    background-size: cover
    height: 565px
    width: 100%
    background-position: center
    text-align: center