.image-slider-container
    height: 400px
.image-slider
    background-image: url("../../assets/cutting-board.jpg")
    background-repeat: no-repeat
    background-size: cover
    height: 400px
    width: 100%
    background-position: center