<section class="image-slider-container">
  <div class="image-slider">
    <div class="pizza-box">
        <img class="pizza-animation" src="../../assets/veggie-pizza.png" alt="pizza" height="300px">
    </div>
  </div>
</section>
<section class="other">
      <div id="map">
        <p class="were-in-aurora-title">We're In Aurora</p>
        <a href="https://goo.gl/maps/EowHzCQXwgG3pXYTA"><img width="280" src="https://maps.googleapis.com/maps/api/staticmap?center=40+W+New+York+St,+Aurora,+IL+60506&zoom=18&scale=2&size=280x250&maptype=roadmap&key=AIzaSyC8J4faZSOJ_VBzDAFP_68TGwyAVwz5L-A&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0x6f6f6f%7Clabel:1%7C40+W+New+York+St,+Aurora,+IL+60506" alt="Google Map of 40 W New York St, Aurora, IL 60506"></a>
        <p class="location-in-text">
            40 W New York St, Aurora, IL 60506
        </p>
      </div>
      <div class="user-options">
        <div class="order-online-container">
          <p class="order-title">Order Online</p>
          <a href="https://www.grubhub.com/restaurant/doughballs-pizza-40-w-new-york-st-aurora/320419"><img class="online-order-image" src="../../assets/grubHub.svg.png" alt="GrubHub Link" height="50px"></a>
          <a href="https://www.doordash.com/store/doughballs-pizza-palace-aurora-170161/"><img class="online-order-image" src="../../assets/doordash-logo.png" alt="Doordash Image"></a>
          <a href="https://www.ubereats.com/en-US/chicago/food-delivery/doughballs-pizza-palace/Ca86YVpvTNqmHrvIVA-8zA/"><img class="online-order-image" src="../../assets/uber_eats_logo.jpg" alt="Uber Eats Link" height="200px"></a>
        </div>
        <div class="reviews">
          <p class="review-title">Give us a review.</p>
          <a href="https://www.yelp.com/biz/doughballs-pizza-palace-aurora"><img src="../../assets/yelp.svg" alt="yelp link"></a>
        </div>
  </div>
</section>
